<!DOCTYPE html>

<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>

{{ content }}

{% for template in site.categories.Templates %}
    <h2>Templates</h2>
    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
{% endfor %}
    
{% for blog in site.categories.Blog %}
    <h2>Blog</h2>
    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
{% endfor %}    
    
            
</body>
</html>           
